div.main_botons{
   display: grid;
   grid-template-columns: repeat(4,6rem);
    
}

#result{
    grid-column: 1/5;
    background: #ff9e26;
    border: 1px solid black;

}

#C{
    background-color: #8bc34a8c;
}

#clear{
    background-color: burlywood;
}

div.main_botons button{
    padding: 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid black;
}

div.main_botons button:hover{
    background-color: #b0b0eb;
}


div.display{
    border: 1px solid blue;
    width: 23.9rem;
    border-radius: 0.4rem;
    height: 4rem;
    background: #1155f070;

}